<a href="https://colab.research.google.com/github/DeemaEssam/3D_Robotic_Arm/blob/main/Data_Science_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab1: Python Basics

Deema Hamidah

**1. Land Calculation**

One acre of land is equivalent to 43,560 square feet. Write a program that asks the user to enter the total square feet in a farm of land and calculates the number of acres in the farm.

In [1]:
# Write your answer for Q1 here
sq_ft= int(input("Enter in square feet:"))
acres=sq_ft/43560
print(acres)

Enter in square feet:50000
1.147842056932966

**2. Age Classifier**

Write a program that asks the user to enter a person’s age. The program should display a message indicating whether the person is an infant, a child, a teenager, or an adult. Following are the guidelines:

• If the person is 1 year old or less, he or she is an infant.


• If the person is older than 1 year, but younger than 13 years, he or she is a child.

• If the person is at least 13 years old, but less than 20 years old, he or she is a teenager.

• If the person is at least 20 years old, he or she is an adult.

In [2]:
# Write your answer for Q2 Here
age= int(input("Enter your age:"))
if age<= 1:
    print("infant")
elif 1<age<13:
    print("child")
elif 13<= age < 20:
    print("teenager")
elif age >= 20:
    print("adult")

Enter your age:22
adult


**3. Software Sales**

A software company sells a package that retails for $99. Quantity discounts are given according to the following table:


![image.png]()


Write a program that asks the user to enter the number of packages purchased. The program should then display the amount of the discount (if any) and the total amount of the purchase after the discount.

In [3]:
# Write your answer for Q3 Here
pkg = int (input("pkgs: "))


if 10<=pkg<=19:
    discount_amount= (pkg*99) * (10/100)
    print("Discount is 10% and your purchase after discount= " + str( (pkg*99 - discount_amount) ) )
elif 20<=pkg<=49:
    discount_amount= (pkg*99) * (20/100)
    print("Discount is 20% and your purchase after discount= " + str( (pkg*99 - discount_amount) ) )
elif 50<= pkg <= 99:
    discount_amount= (pkg*99) * (30/100)
    print("Discount is 30% and your purchase after discount= " +str( (pkg*99 - discount_amount) ) )
elif 100<=pkg:
    discount_amount= (pkg*99) * (40/100)
    print("Discount is 40% and your purchase after discount= " + str( (pkg*99 - discount-amount) ) )
else:
    print("no discount")

pkgs: 40
Discount is 20% and your purchase after discount= 3168.0

**4. Stadium Seating**

There are three seating categories at a stadium. Class A seats cost
15, and Class C seats cost $10. Write a program that asks how many tickets for each class of seats were sold, then calls a function that displays the amount of income generated from ticket sales.

In [4]:
# Write your answer for Q4 Here
class_a= int(input("Enter ticket num of class a:"))
class_b= int(input("Enter ticket num of class b:"))
class_c= int(input("Enter ticket num of class c:"))


def  classabc (class_a, class_b, class_c):
    print( (class_a * 20) + (class_b * 15) + (class_c * 10))


classabc(class_a, class_b, class_c)

Enter ticket num of class a:2
Enter ticket num of class b:2
Enter ticket num of class c:2
90

**5. Bug Collector**

A bug collector collects bugs every day for five days. Write a program that keeps a running total of the number of bugs collected during the five days. The loop should ask for the number of bugs collected for each day, and when the loop is finished, the program should display the total number of bugs collected.

In [5]:
# Write your answer for Q5 Here

bug_collector=0

for count in range (1,6):
    bug= int(input("Enter bug collected in day" + str(count)) )
    bug_collector= bug_collector+bug
    count=count-1

print(bug_collector)

Enter bug collected in day15
Enter bug collected in day24
Enter bug collected in day32
Enter bug collected in day43
Enter bug collected in day51
15

**6. Pennies for Pay**

Write a program that calculates the amount of money a person would earn over a period of time if his or her salary is one penny the first day, two pennies the second day, and continues to double each day. The program should ask the user for the number of days. Display a table showing what the salary was for each day, then show the total pay at the end of the period. The output should be displayed in a dollar amount, not the number of pennies.

In [6]:
# Write your answer for Q6 Here


num_of_days = int(input("Number of days= "))
salary = 0.01
total_salary=0

for day in range (1, num_of_days+1):
    print("day "+str(day)+ "salary is "+str(salary))
    total_salary+=salary
    salary=salary*2

if total_salary >= 100:
    print("Your total salary is $ "+ str(total_salary/100))

else:
    print("Your total salary is $ "+ str(total_salary))

Number of days= 5
day 1salary is 0.01
day 2salary is 0.02
day 3salary is 0.04
day 4salary is 0.08
day 5salary is 0.16
Your total salary is $ 0.31000000000000005

**7. Calculating the Factorial of a Number**


In mathematics, the notation n! represents the factorial of the nonnegative integer n. The factorial of n is the product of all the nonnegative integers from 1 to n. For example, 7! = 1 * 2 * 3 * 4 * 5 * 6 * 7 = 5,040 and 4! = 1 * 2 * 3 * 4 = 24 Write a program that lets the user enter a nonnegative integer then uses a loop to calculate the factorial of that number. Display the factorial.

In [7]:
number = int(input("Enter a number: "))
fact = 1

for i in range(1, number+1):
    fact = fact * i

print("The factorial of this number is : ", end="")
print(fact)

Enter a number: 7
The factorial of this number is : 5040